@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  /* colors */
  --red:#FF3B30;
  --orange:#FF9500;
  --yellow:#FFCC00;
  --green:#28CD41;
  --mint:#00C7BE;
  --teal:#59ADC4;
  --cyan:#55BEF0;
  --blue:#007AFF;
  --indigo:#5856D6;
  --purple:#AF52DE;
  --pink:#FF2D55;
  --brown:#A2845E;
  --gray:#8E8E93;
  /* fills */
  --fills-primary:rgba(0, 0, 0, 0.1);
  --fills-secondary:rgba(0, 0, 0, 0.08);
  --fills-tertiary:rgba(0, 0, 0, 0.05);
  --fills-quaternary:rgba(0, 0, 0, 0.03);
  --fills-quinary:rgba(0, 0, 0, 0.015);
  /* text */
  --text-primary:rgba(0, 0, 0, 0.85);
  --text-secondary:rgba(0, 0, 0, 0.52);
  --text-tertiary:rgba(0, 0, 0, 0.25);
  --text-quaternary:rgba(0, 0, 0, 0.1);
  --text-quinary:rgba(0, 0, 0, 0.05);
  /* materials */
  --material-ultrathick:rgba(246, 246, 246, 0.84);
  --material-thick:rgba(246, 246, 246, 0.72);
  --material-medium:rgba(246, 246, 246, 0.6);
  --material-thin:rgba(246, 246, 246, 0.48);
  --material-ultrathin:rgba(246, 246, 246, 0.36);
  /* materials controls */
  --material-menu:rgba(40, 40, 40, 0.58);
  --material-popover:rgba(0, 0, 0, 0.28);
  --material-title-bar:rgba(234, 234, 234, 0.8);
  --material-sidebar:rgba(234, 234, 234, 0.84);
  --material-selection-focused:rgba(10, 130, 255, 1);
  --material-selection-unfocused:rgba(246, 246, 246, 0.84);
  --material-header-view:rgba(255, 255, 255, 0.8);
  --material-tooltip::rgba(246, 246, 246, 0.6);
  --material-under-window-background:rgba(246, 246, 246, 0.6);

  --radius: 0.625rem;
  --material:oklch(0.97 0 0 / 60%);
  --background: oklch(0.94 0 0);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary:oklch(0 0 45);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted:oklch(0.872 0.01 258.338);
  --muted-foreground: oklch(0 0 0 / 25%);
  --accent:oklch(0.872 0.01 258.338);
  --accent-foreground: oklch(0.87 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0 0 0 / 10%);
  --input: oklch(0.872 0.01 258.338);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent:oklch(0.872 0.01 258.338);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.872 0.01 258.338);
  --sidebar-ring: oklch(0.707 0.022 261.325);
}

.dark {
  /* colors */
  --red:#FF453A;
  --orange:#FF9F0A;
  --yellow:#FFD60A;
  --green:#32D74B;
  --mint:#66D4CF;
  --teal:#6AC4DC;
  --cyan:#5AC8F5;
  --blue:#0A84FF;
  --indigo:#5E5CE6;
  --purple:#BF5AF2;
  --pink:#FF375F;
  --brown:#AC8E68;
  --gray:#98989D;
  /* fills */
  --fills-primary:rgba(255, 255, 255, 0.1);
  --fills-secondary:rgba(255, 255, 255, 0.08);
  --fills-tertiary:rgba(255, 255, 255, 0.05);
  --fills-quaternary:rgba(255, 255, 255, 0.03);
  --fills-quinary:rgba(255, 255, 255, 0.015);
  /* text */
  --text-primary:rgba(255, 255, 255, 0.85);
  --text-secondary:rgba(255, 255, 255, 0.55);
  --text-tertiary:rgba(255, 255, 255, 0.25);
  --text-quaternary:rgba(255, 255, 255, 0.1);
  --text-quinary:rgba(255, 255, 255, 0.05);
    /* materials */
  --material-ultrathick:rgba(0, 0, 0, 0.5);
  --material-thick:rgba(0, 0, 0, 0.4);
  --material-medium:rgba(0, 0, 0, 0.29);
  --material-thin:rgba(0, 0, 0, 0.2);
  --material-ultrathin:rgba(0, 0, 0, 0.1);
    /* materials controls */
  --material-title-bar:rgba(60, 60, 60, 0.8);
  --material-sidebar:rgba(0, 0, 0, 0.45);
  --material-selection-focused:rgba(10, 130, 255, 1);
  --material-selection-unfocused:rgba(40, 40, 40, 0.65);
  --material-header-view:rgba(30, 30, 30, 0.8);
  --material-tooltip::rgba(0, 0, 0, 0.35);
  --material-under-window-background:rgba(0, 0, 0, 0.45);
    
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.872 0.01 258.338);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@theme inline {
  /* colors */
  --color-red:var(--red);
  --color-orange:var(--orange);
  --color-yellow:var(--yellow);
  --color-green:var(--green);
  --color-mint:var(--mint);
  --color-teal:var(--teal);
  --color-cyan:var(--cyan);
  --color-blue:var(--blue);
  --color-indigo:var(--indigo);
  --color-purple:var(--purple);
  --color-pink:var(--pink);
  --color-brown:var(--brown);
  --color-gray:var(--gray);
  /* fills */
  --color-fills-primary:var(--files-primary);
  --color-fills-secondary:var(--files-secondary);
  --color-fills-tertiary:var(--files-tertiary);
  --color-fills-quaternary:var(--files-quaternary);
  --color-fills-quinary:var(--files-quinary);
  /* text */
  --text-primary:var(--text-primary);
  --text-secondary:var(--text-secondary);
  --text-tertiary:var(--text-tertiary);
  --text-quaternary:var(--text-quaternary);
  --text-quinary:var(--text-quinary);
  /* materials */
  --color-material-ultrathick:var(--material-ultrathick);
  --color-material-thick:var(--material-thick);
  --color-material-medium:var(--material-medium);
  --color-material-thin:var(--material-thin);
  --color-material-ultrathin:var(--material-ultrathin);
  /* materials controls */
  --color-material-menu:var(--material-menu);
  --color-material-popover:var(--material-popover);
  --color-material-title-bar:var(--material-title-bar);
  --color-material-sidebar:var(--material-sidebar);
  --color-material-selection-focused:var(--material-selection-focused);
  --color-material-selection-unfocused:var(--material-selection-unfocused);
  --color-material-header-view:var(--material-header-view);
  --color-material-tooltip:var(--material-tooltip);
  --color-material-under-window-background:var(--material-under-window-background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --shadow-material:0px 0px 1px 0 rgba(0, 0, 0, 0.4), 0px 0px 1px 0 rgba(0, 0, 1.5, 0.3),0px 7px 22px 0 rgba(0, 0, 1.5, 0.25);
  --spacing-icon:18px;
}

@layer base {
  * {
    @apply border-border outline-ring/50 text-primary;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer utilities{
  .backdrop-blur-material{
    backdrop-filter: blur(20px);
  }
}


html,body{
  overscroll-behavior: none; 
  @apply h-screen bg-[#EAEAEA]/84;
}

.app{
  @apply h-full;
}
.default-cursor {
  @apply select-none cursor-default;
}
.resize-cursor{
  @apply select-none cursor-col-resize;
}

path{
  color: currentColor;
}
